{%extends "layout.html"%}
{%block content%}
    <div class="home">
        <h1>Owen's Website Placeholder</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur deserunt ea, eos eveniet expedita
            fugit minima modi praesentium quaerat quasi temporibus ut voluptas? Deserunt doloremque enim est laboriosam
            necessitatibus numquam, pariatur qui sequi tempore vitae. Animi autem beatae dolorem doloribus error maiores,
            officia, omnis perspiciatis ratione velit veritatis voluptate.
        </p>
    </div>
{%endblock%}